# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OOM\oom-notifier-assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
